
* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-family: Montserrat-Regular, sans-serif;
  font-weight: 400;
}

a {
	font-family: Montserrat-Regular;
  font-weight: 400;
	font-size: 15px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
	color: #e65540;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0px;
}

p {
	font-family: Montserrat-Regular;
	font-size: 15px;
	line-height: 1.7;
	color: #888888;
	margin: 0px;
}

ul, li {
	margin: 0px;
	list-style-type: none;
}

input {
	outline: none;
	border: none !important;
}

textarea {
  outline: none;
}

button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}

.container {
	max-width: 1200px;
}

.slick-slide {
  outline: none !important;
}

.fixed-header {height: 110px;}

.wrap_header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 80px;
  background-color: white;
  justify-content: center;
  align-items: center;
  position: relative;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.fixed-header .wrap_header {
  height: 65px;
}

.logo {
  display: block;
  position: absolute;
  left: 52px;
  top: 50%;
  transform: translateY(-50%);
}

.logo img {
  max-height: 27px;
}


/*[ Menu ]
-----------------------------------------------------------*/
.main_menu {
  list-style-type: none;
  margin: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.main_menu > li {
  display: block;
  position: relative;
  padding-top: 20px;  
  padding-bottom: 20px; 
  padding-left: 15px;
  padding-right: 15px;
}

.main_menu > li > a {
  font-family: Montserrat-Regular;
  font-size: 15px;
  color: #333333;
  padding: 0;
  border-bottom: 1px solid transparent;
}

li.sale-noti > a {
  color: #e65540;
}

.main_menu > li:hover > a {
  text-decoration: none;
  border-bottom: 1px solid #333333;
}

.main_menu li {
  position: relative;
}

.main_menu > li:hover > .sub_menu {
  visibility: visible;
  opacity: 1;
}

.sub_menu {
  list-style-type: none;
  position: absolute;
  z-index: 1100;
  top:0;
  left:100%;
  width: 225px;
  background-color: #222222;
  opacity: 0;
  visibility: hidden;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

.main_menu > li > .sub_menu {
  top:100%;
  left: 0;
  position: absolute;
}

.sub_menu li:hover > .sub_menu {
  visibility: visible;
  opacity: 1;
} 

.sub_menu li { 
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
}

.sub_menu li, .sub_menu a {
  padding: 10px;
  font-family: Montserrat-Regular;
  font-size: 13px;
  color: white;
}

.sub_menu > li:hover > a {
  color: #e65540;
  text-decoration: none;
}

/* ------------------------------------ */
.header-icons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  position: absolute;
  right: 52px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.header-wrapicon1,
.header-wrapicon2 {
  height: 27px;
  position: relative;
}

.header-wrapicon1 img,
.header-wrapicon2 img {
  height: 100%;
}

.header-icon1:hover,
.header-icon2:hover {
  cursor: pointer;
}

.header-icons-noti {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #111111;
  color: white;
  font-family: Montserrat-Medium;
  font-size: 12px;
  position: absolute;
  top: 0;
  right: -10px;
}

.linedivide1 {
  display: block;
  height: 20px;
  width: 1px;
  background-color: #e5e5e5;
  margin-left: 23px;
  margin-right: 23px;
  margin-top: 5px;
}

/*[ Header cart ]
-----------------------------------------------------------
*/
.header-cart {
  position: absolute;
  z-index: 1100;
  width: 339px;
  top: 190%;
  right: -10px;
  padding: 20px;
  border-top: 3px solid #e6e6e6;
  background-color: white;

  box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.1);
  
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  
  transform-origin: top right;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}

.show-header-dropdown {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.fixed-header .header-cart {
  top: 160%;
}

.header-cart-wrapitem {
  max-height: 270px;
  overflow: auto;
}

.header-cart-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: 5px;
  padding-top: 5px;
}

/* ------------------------------------ */
.header-cart-item-img {
  width: 80px;
  position: relative;
  margin-right: 20px;
}

.header-cart-item-img img {
  width: 100%;
}

.header-cart-item-img::after {
  content: '\e870';
  font-family: Linearicons;
  font-size: 16px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
  color: white;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  opacity: 0;
}

.header-cart-item-img:hover:after {
  cursor: pointer;
  opacity: 1;
}

/* ------------------------------------ */
.header-cart-item-txt {
  width: calc(100% - 100px);
}

.header-cart-item-name {
  display: block;
  font-family: Montserrat-Regular;
  font-size: 15px;
  color: #555555;
  line-height: 1.3;
  margin-bottom: 12px;
}

.header-cart-item-info {
  display: block;
  font-family: Montserrat-Regular;
  font-size: 12px;
  color: #888888;
  line-height: 1.5;
}

.header-cart-total {
  font-family: Montserrat-Regular;
  font-size: 15px;
  color: #555555;
  line-height: 1.3;
  text-align: right;
  padding-top: 15px;
  padding-bottom: 25px;
  padding-right: 3px;
}
/* ------------------------------------ */
.header-cart-buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.header-cart-wrapbtn {
  width: calc((100% - 10px) / 2);
}



/*[ Header Mobile ]
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
.wrap_header_mobile {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  min-height: 80px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
  display: none;
}

/*[ Logo mobile ]
-----------------------------------------------------------*/
.logo-mobile {
  display: block;
}

.logo-mobile img {
  max-height: 27px;
}

/*[ btn show menu ]
-----------------------------------------------------------*/
.btn-show-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.hamburger {
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
  margin-top: 5px;
}


/*[ Header icon mobile ]
-----------------------------------------------------------*/
.header-icons-mobile {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  margin-right: 15px;
}
.linedivide2 {
  display: block;
  height: 20px;
  width: 1px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
}

.header-icons-mobile .header-cart {
  width: 300px;
  top: 190%;
  right: -80px;  
  z-index: 1100;
  transform-origin: top right;
}

/*[ Menu mobile ]
-----------------------------------------------------------*/
.wrap-side-menu {
  width: 100%;
  background-color: white;
  display: none;
  border-top: 1px solid #ececec;
}

.side-menu {
  width: 100%;
}

.side-menu li {
  list-style-type: none;
}

.side-menu .main-menu {margin-bottom: 0;}

.item-menu-mobile {
  background-color: #e65540;
}

.side-menu .main-menu > li > a {
  padding-left: 20px;
  font-family: Montserrat-Regular;
  font-size: 15px;
  color: white;
  line-height: 2.86;
}

.side-menu .main-menu > li {
  color: white;
  position: relative;
}


.side-menu .main-menu .arrow-main-menu {
  font-size: 14px;
  position: absolute;
  right: 20px;
  top: 5px;
  padding: 10px;
  -webkit-transition: all 0.4s !important;
  -o-transition: all 0.4s !important;
  -moz-transition: all 0.4s !important;
  transition: all 0.4s !important;
}

.side-menu .main-menu .arrow-main-menu:hover {
  cursor: pointer;
}

.turn-arrow {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.side-menu .sub-menu a {
  padding-left: 20px;
  font-family: Montserrat-Regular;
  font-size: 13px;
  color: #333333;
  line-height: 2.5;
}

.side-menu .sub-menu > li {
  padding-left: 12px;
  padding-top: 
}

.side-menu .sub-menu a:hover {
  text-decoration: none;
  padding-left: 20px;
  color: #e65540 !important;
}

.side-menu .sub-menu {
  background-color: white;
  display: none;
}

@media (min-width: 992px){
  .wrap-side-menu {
    display: none;
  }
}

/* ------------------------------------ */
.item-topbar-mobile {
  border-bottom: 1px solid #ececec;
}

.topbar-child2-mobile {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.topbar-social-moblie {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
}


/*[ Header2 ]
///////////////////////////////////////////////////////////
*/
.topbar2 {
  background-color: #fff;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ------------------------------------ */
.logo2 {
  display: block;
}

.logo2 img {
  max-height: 27px;
}

.fixed-header2 {
  z-index: 1300;
  position: fixed;
  height: 65px;
  left: 0;
  top: -70px;
  visibility: hidden;

  box-shadow: 0 1px 5px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 1px 5px 0px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 1px 5px 0px rgba(0,0,0,0.2);
  -o-box-shadow: 0 1px 5px 0px rgba(0,0,0,0.2);
  -ms-box-shadow: 0 1px 5px 0px rgba(0,0,0,0.2); 
}

.fixed-header2 .header-cart {
  top: 160%;
}

.show-fixed-header2 {
  visibility: visible;
  top: 0px;
}


/*[ Header3 ]
///////////////////////////////////////////////////////////
*/
.container-menu-header-v3 {
  position: fixed;
  z-index: 1200;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 320px;
  height: 100vh;
  border-right: 1px solid #e5e5e7;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

/*[ Menu ]
===========================================================*/
.container-menu-header-v3 .wrap_header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  background-color: white;
}


/*[ Logo ]
-----------------------------------------------------------*/
.container-menu-header-v3 .logo3 {
  display: block;
}

.container-menu-header-v3 .logo3 img {
  max-width: 120px;
}

/*[ Header Icon ]
-----------------------------------------------------------*/
.container-menu-header-v3 .header-icons3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  position: unset;
}

/*[ Header cart ]
-----------------------------------------------------------
*/
.container-menu-header-v3 .header-cart {
  left: -10px;
  transform-origin: top left;
}

/*[ Menu ]
-----------------------------------------------------------*/
.container-menu-header-v3 .main_menu {
  list-style-type: none;
  margin: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
}

.container-menu-header-v3 .main_menu > li {
  padding-top: 3px;  
  padding-bottom: 3px; 
  padding-left: 0px;
  padding-right: 0px;
  text-align: center;
}

.container-menu-header-v3 .sub_menu {
  top:0;
  left:100%;
}

.container-menu-header-v3 .main_menu > li > .sub_menu {
  top: 10px;
  left: 95%;
}

.container-menu-header-v3 .sub_menu li { 
  text-align: left;
}

.container-menu-header-v3 .topbar-social-item {
  padding: 10px 8px;
}


/*[ Page sidebar ]
-----------------------------------------------------------
*/
.container1-page {
  margin-left: 320px;
}

@media (max-width: 992px){
  .wrap_header_mobile {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex !important;
  }
  .wrap_header {display: none;}

  .container-menu-header-v3,
  .container-menu-header-v2,
  .container-menu-header 
  {display: none;}

  .top-bar {display: none;}
  header {height: auto !important;}

  .container1-page {
    margin-left: 0px;
  }
}



/*[ Slide1 ]
///////////////////////////////////////////////////////////
*/

/*[ Slick1 ]
-----------------------------------------------------------
*/
.wrap-slick1 {
  position: relative;
}

.item-slick1 {
  height: 570px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.arrow-slick1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  font-size: 18px;
  color: white;
  position: absolute;
  background-color: black;
  opacity: 0;
  
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);

  border-radius: 50%;
  z-index: 200;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.wrap-slick1:hover .arrow-slick1 {
  opacity: 0.5;
}

.arrow-slick1:hover {
  background-color: #e65540;
}

.next-slick1 {
  right: 50px;
  left: auto;
}

.prev-slick1 {
  left: 50px;
  right: auto;
}

@media (max-width: 576px) {
  .next-slick1 {
    right: 15px;
  }

  .prev-slick1 {
    left: 15px;
  }
}

/*[ Caption ]
-----------------------------------------------------------
*/
@media (max-width: 992px) {
  .wrap-content-slide1 .xl-text2 {
    font-size: 60px;
  }
}

@media (max-width: 768px) {
  .wrap-content-slide1 .xl-text3,
  .wrap-content-slide1 .xl-text2,
  .wrap-content-slide1 .xl-text1 {
    font-size: 50px;
  }

  .wrap-content-slide1 .m-text27,
  .wrap-content-slide1 .m-text1 {
    font-size: 16px;
  }

  .item-slick1 {
    height: 470px;
  }
}

@media (max-width: 576px) {
  .wrap-content-slide1 .xl-text3,
  .wrap-content-slide1 .xl-text2,
  .wrap-content-slide1 .xl-text1 {
    font-size: 40px;
  }

  .wrap-content-slide1 .m-text27,
  .wrap-content-slide1 .m-text1 {
    font-size: 16px;
  }

  .item-slick1 {
    height: 370px;
  }
}

/*[ rs1-slick1 ]
-----------------------------------------------------------
*/
.rs1-slick1 .item-slick1 {
  height: 100vh;
}

@media (max-width: 992px) {
  .rs1-slick1 .item-slick1 {
    height: calc(100vh - 85px);
  }
}




.wrap-slick2 {
  position: relative;
  margin-right: -15px;
  margin-left: -15px;
}


.block1-wrapbtn {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 20px;

  box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.1);
}

.block2-labelsale::before,
.block2-labelnew::before 
{
  z-index: 100;
  font-family: Montserrat-Regular;
  font-size: 12px;
  color: white;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 22px;
  border-radius: 11px;
  position: absolute;
  top: 12px;
  left: 12px;
}

.block2-labelsale::before {
  background-color: #e65540;
  content: 'Sale';
}

.block2-labelnew::before {
  background-color: #66a8a6;
  content: 'New';
}

.block2-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.3);
  opacity: 0;
}

.block2-btn-addcart {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: -45px;
}

.block2-btn-towishlist,
.block2-btn-addwishlist {
  display: block;
  position: absolute;
  top: 26px;
  right: 20px;
  font-size: 20px;
  color: white;
  line-height: 0;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}

.block2-btn-addwishlist:hover {
  color: white;
}

.block2-btn-addwishlist .icon-wishlist,
.block2-btn-towishlist .icon-wishlist {
  line-height: 0;
}

.block2-btn-addwishlist:hover .icon_heart_alt {
  display: none;
}

.block2-btn-addwishlist:hover .icon_heart {
  display: block;
}

.block2-btn-towishlist .icon_heart_alt {
  display: none;
}

.block2-btn-towishlist .icon_heart {
  display: block;
  color: #e65540;
}

.block2-overlay:hover {
  opacity: 1;
}

.block2-overlay:hover .block2-btn-addcart {
  bottom: 20px;
}

.block2-overlay:hover .block2-btn-addwishlist,
.block2-overlay:hover .block2-btn-towishlist{
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.block4 {
  position: relative;
  overflow: hidden;
  width: calc(100% / 5);
}

@media (max-width: 1360px) {
  .block4 {
    width: calc(100% / 4);
  }
}

@media (max-width: 1200px) {
  .block4 {
    width: calc(100% / 3);
  }
}

@media (max-width: 992px) {
  .block4 {
    width: calc(100% / 2);
  }
}

@media (max-width: 576px) {
  .block4 {
    width: calc(100% / 1);
  }
}


@media (max-width: 1660px) {
  .rs1-block4 .block4 {
    width: calc(100% / 4);
  }
}

@media (max-width: 1380px) {
  .rs1-block4 .block4 {
    width: calc(100% / 3);
  }
}

@media (max-width: 1200px) {
  .rs1-block4 .block4 {
    width: calc(100% / 2);
  }
}

@media (max-width: 576px) {
  .rs1-block4 .block4 {
    width: calc(100% / 1);
  }
}


.block4-overlay {
  display: block;
  background-color: rgba(0,0,0,0.9);
  visibility: hidden;
  opacity: 0;
}

.block4-overlay:hover {
  color: unset;
}


.block4-overlay-txt {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -100%;
}


.block4-overlay-heart {
  transform-origin: top left;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}


.block4:hover .block4-overlay {
  visibility: visible;
  opacity: 1;
}

.block4:hover .block4-overlay-txt {
  bottom: 0;
}

.block4:hover .block4-overlay-heart {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}


